<p id="notice"><%= notice %></p>
<div class="panel panel-default">
  <div class="panel-body">
    <p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

  </div>
</div>



<%= render @post %>


