<p id="notice"><%= notice %></p>




<% @posts.each do |post| %>
<div class="panel panel-default">
  <div class="panel-body">
    <h2><%= link_to post.title, post %></h2>

    <br>
    A Lovely <%= post.category.name %>
    <p class="date" align ="right">Submitted <%= time_ago_in_words(post.created_at) %> ago by <%= link_to post.user.first_name, user_path(id: post.user_id) %></p>
  </div>
</div>
<% end %>
