<p id="notice"><%= notice %></p>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"><h2><%= @post.title %><h2></h3>
  </div>
  <div class="panel-body">
    <%= @post.body %>
  </div>
</div>
<p align='right'>
	Submitted <%= time_ago_in_words(@post.created_at) %> ago
</p>
<%= commontator_thread(@post) %>

<% if user_signed_in? %>
<% if @post.user_id = current_user.id %>
	<%= link_to 'Back', posts_path %>
<% else %>
		<%= link_to 'Edit', edit_post_path(@post) %>
		<%= link_to 'Delete', post_path(@post.id),:method => :delete %>
		<%= link_to 'Back', posts_path %>
<% end %>
<% else %>
	<%= link_to 'Back', posts_path %>
<% end %>