<nav class="navbar fixed navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href = '/'>WRAPP MUIC</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
       <li><%= link_to "Home", "/" %></li>
        <% if user_signed_in? %>
          <li><%= link_to "All Posts", posts_path %></li>
          <li><%= link_to current_user.first_name,  user_path(id: current_user.id) %></li>
          <li><%= link_to "Log Out",destroy_user_session_path, :method => :delete  %></li>
        <% else %>
          <li><%= link_to "Log In", new_user_session_path %></li>
          <li><%= link_to "Create Account",new_user_registration_path %></li>
        <% end %>
      </ul>
      <% if user_signed_in? %>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/posts/new"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></li>
      <% else %>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/users/sign_in"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></li>
      <% end %>
      </ul>
      <div>
          <%= form_tag(
          allresult_path, :method => "get", class: "container navbar-form navbar-right", role:"search") do %>
          <div class="form-group">
          <%= text_field_tag :search,
          params[:search], style: "color:black",placeholder: "Search.." %>
        </div>
        <% end %>
      </div>
      </form>
      
    </div>
  </div>
</nav>